.card {
  background: white;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
  width: 200px;
  margin: 1rem;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.imageContainer {
  height: 250px;
  overflow: hidden;
  background: #f8f9fa;
}

.image {
  width: 100%;
  height: 100%;
  padding: 1rem;
  object-fit: contain;
}

.content {
  padding: 1rem;
}

.title {
  font-size: 1rem;
  font-weight: 600;
  height: 2.5rem;
  margin-bottom: 0.5rem;
  color: #2c3e50;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.category {
  font-size: 0.8rem;
  color: #7f8c8d;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}

.price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 1rem;
}

.addButton {
  width: 100%;
  background: #ffe600;
  color: rgb(15, 15, 15);
  border: none;
  padding: 0.75rem;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
}

.addButton:hover {
  background: #e0cd1a;
}

/* Responsive */
@media (max-width: 768px) {
  .card {
    margin: 0rem;
    width: 100%;
  }
}
